# =========================
# Keil build output
# =========================

Objects/
Listings/

*.axf
*.elf
*.hex
*.bin
*.map
*.lnp

*.o
*.d
*.crf
*.dep
*.htm
*.sct
*.lst


# =========================
# Keil user settings
# =========================

*.uvguix.*
*.uvoptx
*.uvprojx.user


# =========================
# Keil debug
# =========================

*.dbgconf


# =========================
# Keil RTE
# =========================

RTE/


# =========================
# Log and temporary
# =========================

*.log
*.bak
*.tmp


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db